<p>login works!</p>

<mat-card class="register-card">
  <h2>Login</h2>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
    <!-- Username -->
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        name="username"
        ngModel
        required
        #username="ngModel"
        placeholder="Enter username"
      />
      <mat-error *ngIf="username.invalid && username.touched">
        Username is required
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        ngModel
        required
        minlength="4"
        #password="ngModel"
        placeholder="Enter password"
      />
      <mat-error *ngIf="password.invalid && password.touched">
        Password is required (min 4 chars)
      </mat-error>
    </mat-form-field>

    <br />

    <!-- Submit Button -->
    <button mat-raised-button color="primary" type="submit">
      Login
    </button>
  </form>
</mat-card>
